@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
  height: 100vh;
}
.bottom{
  min-height: calc(100vh - 70px);
  display:grid;
  grid-template-columns: 40% 60%;
}
/* .right{
  height: calc(100vh - 50px);
} */